

    
body
{
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}



.header
{
    width: 100%;
    height: 80px;
    background-color: black;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 28pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    position: fixed;
    z-index: 999;
}

.disclaimer
{
    font-size: 10pt;
    color: #FFF;
    font-family: sans-serif;
    padding-right: 50px;
}
.container
{
	display: flex;
	justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.alex-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#FFF, #330055);
    height: 100%;
    width: 50%;
    padding-top: 180px;
    margin: 0;
}

.alex
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.alex-host
{
    width: 100%;
    padding-left: 10%;
    text-align: center;
}
.alex img
{
    width: 65%;
    height: 100%;
}

.game-play
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #330055;
}

.game-panel
{
    border: 2px solid #000;
    background-color: #FFF;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.game-play-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-buttons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.clue-button ul
{
	width: 154px;
	height: 49px;
	display: block;
	background-color: black;
	list-style: none;
	padding: 2px;
	float: left;
}

.clue-button li
{
	width: 150px;
	height: 45px;
	line-height: 45px;
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
	margin: 2px;
	text-align: center;
    border-radius: 8px;
}

ul
{
	list-style-type: none;
}

.result ul
{
	display: block;
	height: 49px;
	width: 304px;
	padding: 2px;
	margin: 0 auto;
    text-align: center;
    border-radius: 8px;
}

.result li
{
	display: inline-block;
	float: middle;
	width: 150px;
	height: 45px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	margin: 2px;
    line-height: 45px;
    border-radius: 8px;
}

.new ul
{
	display: block;
	height: 49px;
	width: 304px;
	padding: 2px;
	margin: 0 auto;
	text-align: center;
	background-color: blue;
    text-align: center;
    
}

.new li
{
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
	width: 150px;
	height: 45px;
	margin: 0 auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.correct
{
	background-color: green;
}

li.incorrect
{
	background-color: red;
}

li:hover
{
	cursor: pointer;
}

.active
{
	border: 2px solid black;
	
}


@media only screen and (max-width: 480px){
	
	.container
	{
        width: 100%;
        display: flex;
	}
	
	
	ul
	{
		list-style-type: none;
		width: 100%;
		
	}
	
	li
	{
		width: 50%;
	}
	
	.jtitle, jtitle p
	{
		width: `100%;
		text-align: center;
	}
	
	.running-total
	{
		width: 100%;
		text-align: center;
	}
	
}
