

    
body
{
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul
{
    padding: 0;
    margin: 0;
}


.header
{
    width: 100%;
    height: 80px;
    background-color: black;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 28pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    position: fixed;
    z-index: 999;
}

.disclaimer
{
    width: 30%;
    font-size: 10pt;
    color: #FFF;
    font-family: sans-serif;
    padding-right: 50px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.alex-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#FFF, #330055);
    height: 100%;
    width: 50%;
    padding-top: 180px;
    margin: 0;
}

.alex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alex-host
{
    width: 75%;
    padding-left: 10%;
    text-align: center;
}
.alex img
{
    width: 65%;
    height: 100%;
}

.game-play
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #330055;
}

.game-panel
{
    border: 2px solid #000;
    background-color: #FFF;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;

}

.game-play-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display-score
{
    font-family: Arial, helvetica;;
    font-size: 24pt;

}
.score-buttons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 15px 0;
}


.clue-button li
{
	width: 150px;
	height: 45px;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.result-buttons ul
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 10px 0;
}

.result li
{
	width: 150px;
	height: 45px;
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.new li
{
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
	width: 150px;
	height: 45px;
	margin: 0 auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.correct
{
	background-color: green;
}

li.incorrect
{
	background-color: red;
}

li:hover
{
	cursor: pointer;
}

.active
{
	border: 2px solid black;
	
}
.disclaimer-mobile
{
    display: none;
}

@media only screen and (max-width: 1024px){

    .header
    {
        padding: 0;
        width: 100%;
        display: fixed;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
    }

    .header img 
    {
        width: 50%;
    }

    .disclaimer
    {
        display: none;
    }

    .disclaimer-mobile
    {
        color: #FFF;
        display: block;
        font-size: 8pt;
        position: relative;
        cursor: pointer;
        left: -30px;
    }

    .container
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }

    .game-play
    {
        width: 100%;
        height: 105vh;
        margin-top: 425px;
    }

    .game-panel
    {
    border: 2px solid #000;
    background-color: #FFF;
    width: 85%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 5%;
    }
    
    .alex-container
    {
        width: 100%;
        margin: 0;
        background-color: #330055;
        background: none;
        margin-top: -180px;
    }

    .alex
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .result-buttons ul
    {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 3px 0;
    }

    .result li
    {
        width: 90px;
        height: 30px;
        font-family: Arial, sans-serif;
        font-size: 12pt;
        font-weight: 800;
        color: #FEFAD5;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .score-buttons
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 5px 0;
    }

    .clue-button li
    {
        width: 90px;
        height: 30px;
        font-family: Montserrat, sans-serif;
        font-weight: 800;
        color: #FEFAD5;
        background-color: blue;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .new li
    {
        font-family: Arial, sans-serif;
        font-weight: 800;
        color: #FEFAD5;
        background-color: blue;
        width: 120px;
        height: 30px;
        margin: 0 auto;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
