body
{
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container
{
	min-width: 100vh;
	min-height: 100vh;
	text-align: center;
}

.running-total
{
	margin: 25px;
	min-height: 60px;
	border: 1px solid blue;
}

.display-score
{
	color: #FEFAD5;
	font-size: 18pt;
	font-family: Arial, sans-serif;
	padding: 12px;
	line-height: 36pt;
}

.jtitle, .jtitle p
{

	max-width: 304px;
	font-family: Arial, sans-serif;
	font-size: 15pt;
	margin: 0 auto;
	position: relative;
	left: 0px;
	text-align: center;
}

.jeopardy
{
	text-align: center;
	color: #000;
	margin: 0 auto;
	position: absolute;
}

.jeopardy-left
{
	width: 50%;
	margin: 0 auto;
	position: relative;
	float: left;
	
}

.jeopardy-right
{
	width: 50%;
	margin: 0 auto;
	position: relative;
	float: left;
}

.clue-button ul
{
	width: 154px;
	height: 49px;
	display: block;
	background-color: black;
	list-style: none;
	padding: 2px;
	float: left;
}

.clue-button li
{
	width: 150px;
	height: 45px;
	line-height: 45px;
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
	margin: 2px;
	text-align: center;
}

ul
{
	list-style-type: none;
}

.result ul
{
	display: block;
	height: 49px;
	width: 304px;
	padding: 2px;
	margin: 0 auto;
	text-align: center;
}

.result li
{
	display: inline-block;
	float: middle;
	width: 150px;
	height: 45px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	margin: 2px;
	line-height: 45px;
}

. new ul
{
	display: block;
	height: 49px;
	width: 304px;
	padding: 2px;
	margin: 0 auto;
	text-align: center;
	background-color: blue;
	text-align: center;
}

.new li
{
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FEFAD5;
	background-color: blue;
	width: 150px;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
}

li.correct
{
	background-color: green;
}

li.incorrect
{
	background-color: red;
}

.active
{
	border: 2px solid black;
	
}


@media only screen and (max-width: 480px){
	
	ul
	{
		list-style-type: none;
		width: 100%;
		
	}
	
	li
	{
		width: 48%;
	}
	
}
	
	
